.changelog-container{
    margin-left: 35rem;
    width: 100%;
    height: 100%;
    color: white;
    padding-top: 2rem;
}
.changelog-container h1{
    font-size: 5rem;
    margin-bottom: 5rem;
}
.changelog-container h2{
    margin-top: 2rem;
}
.changelog-container p{
    margin-top: 1rem;
}
.changelog-container ul p{
    font-size: 2rem;
}